<br />
<div class="booyah-box col-md-10 offset-md-1 course-index">
    <h1 class="text-center">Careers</h1>
    <p>
        I am open for possible employment and internship this summer.
        You can get in touch with me via my <a href="mailto:kirbyyjames@gmail.com">email(Click me).</a>
        Thank you and have a nice day.
    </p>
</div>
