<br />
<div class="booyah-box col-10 offset-1">
    <h1 class="text-center">Team</h1>
    <p>
        Vidxter is built with passion and love by the guidance of TheFirehoseProject Team and with the help of a close friend from Accenture.
    </p>
</div>
