@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Abel');

body {
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    color: black;
    background: #E0EAFC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E0EAFC , #CFDEF3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1, h2, h4, h4, h5, h6, .navbar {
    margin: 0;
}

.navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover {
  color: rgba(99, 220, 201, 0.75);
}

.navbar-inverse .navbar-nav .nav-link {
  color: black;
}

.navbar-inverse .navbar-nav .active > .nav-link {
    color: black;
}

.navbar {
    background: #E0EAFC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E0EAFC , #CFDEF3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 200;
    box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse a.navbar-brand {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 100;
    color: black;
}

.hero {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 370px;
    box-shadow: 0px 3px 8px #2a2a2a;
    background: #B3FFAB; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #B3FFAB , #12FFF7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #B3FFAB , #12FFF7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.frosty {
    background: rgba(0, 0, 0, 0.2);
    color: white;
}

.frosty h1 {
    font-family: 'Abel', sans-serif;
    font-weight: 100;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
    font-family: 'Abel', sans-serif;
    font-weight: 200;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
    border-radius: 0;
}

.feature {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

#inout {
    border: none;
}
